/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'drag-styles.scss';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	color: white;
	background-image: url(../../src/img/body-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.hand-print{
	padding-bottom: 50%;
}

nav{
		width: 90%;
		margin: 0 auto;
		display: flex;
	    justify-content: space-between;
	    opacity: 1;
        padding-top: 50px;
	    padding-bottom: 50px;
	    visibility: hidden;


		.weather{
			width: 50px;
		}

		.page-select{
			width: 227px;
			display: flex;
		    justify-content: space-around;
			.history-global-nav, .deforesation-global-nav,
			.height-global-nav{
				width: 50px;	
			}
		}

		.map{
				width: 50px;
			}
	}

.nav-container{
	width: 50%;
	position: absolute;
	margin: 0 auto;


	.nav-center{
	    width: 60%;
        position: relative;
	    top: 70px;
	    margin: 0 auto;
	    padding-bottom: 50%;
		background-color: RGB(5,21,27);
		background-image: url(../../src/img/treeMandala.png);
		background-size: contain;
		background-position: center center;

		border: 10px solid RGB(224,112,84);
		border-radius: 50%;

		.history-line{
		    position: absolute;
		    background-color: white;
		    width: 2px;
		    padding-bottom: 32%;
		    transform: rotate(-20deg);
		    top: -80PX;
		    left: 22PX;
		}

		.deforestation-line{
	        position: absolute;
		    background-color: white;
		    width: 2px;
		    padding-bottom: 37%;
		    left: 310px;
		    top: -210px;

		}
		.height-line{
            position: absolute;
		    background-color: white;
		    width: 2px;
		    padding-bottom: 130px;
		    left: 510px;
		    top: -65px;
		    transform: rotate(18deg);

		}

	}

	.history-select,
	.deforestation-select,
	.height-select{
		
	    width: 30%;
	    

	    img{
	    	width: 100%;
	    	background-color: RGB(5,21,27);
	    	border: 2px solid RGB(224,112,84);
		    border-radius: 50%;
	    }
	}

	.history-select{
        position: relative;
	    top: 60px;

		img{
			height: 160px;
		}
	}

	.deforestation-select{
		position: absolute;
        top: -10%;
	    left: 37%;
	}

	.height-select{
	    position: absolute;
	    top: 8%;
	    left: 650px;

	}
}

.page-container{
	top: 60px;
	
}



.history-container{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15%;
    position: relative;
    top: -960px;
    display: none;

	.rings-text-container{
		display: flex;

		.text-container{
			width: 40%;
			margin: 0 auto;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
		    transition: all .3s;

		    .history-text{
		    	transition: all .3s;


		    	p{
		    		width: 90%;
		    	}
		    }

		     .main-text-image-1{
		    	transition: all .5s;
		    	position: absolute;
		    	opacity: 1;

		    	p{
		    		width: 90%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    	}
	    	    .image-1{
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    	width: 90%;
	    	    }

		    }
		    .main-text-image-2,
		    .main-text-image-3,
		    .main-text-image-4,
		    .main-text-image-5,
		    .main-text-image-6,
		    .main-text-image-7,
		    .main-text-image-8,
		    .main-text-image-9{
		    	transition: all .5s;
		    	position: absolute;


		    	p{
		    		width: 90%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    		visibility: hidden;
		    		opacity: 1;

		    	}
	    	    .image-2{
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    	visibility: hidden;
	    	    	opacity: 1;
	    	    	width: 90%;

	    	    }
		    }
		}

		    .main-text-image-3{
		    	transition: all .5s;
		    	position: absolute;



		    	p{
		    		width: 90%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    		visibility: hidden;
		    		opacity: 1;

		    	}
	    	    .image-3{
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    	visibility: hidden;
	    	    	opacity: 1;
	    	    	width: 90%;

	    	    }
		    }

		    .main-text-image-4{
		    	transition: all .5s;
		    	position: absolute;


		    	p{
		    		width: 90%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    		visibility: hidden;
		    		opacity: 1;
		    		

		    	}
	    	    .image-4{
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    	visibility: hidden;
	    	    	opacity: 1;
	    	    	width: 90%;
	    	    	

	    	    }
		    }
		}

		.rings-svg{
			width: 40%;
			margin: 0 auto;
			background-image: url(../../src/img/ring-bg.png);
			background-size: contain;
			background-repeat: no-repeat;
		}

		.ring-title{
		    	width: 20%;
		    	display: flex;
		    	justify-content: flex-end;
	    	    position: absolute;
		        top: 700px;
	            right: 71px;
			    padding-bottom: 5%;
			    align-self: flex-end;
			    margin-bottom: 5%;
			    visibility: hidden;
			    opacity: 1;

			    h1{
			    	font-size: 2rem;
			    	color: white;
			    }

		    }

		    .ring-date{
		    	width: 20%;
		    	display: flex;
		    	justify-content: flex-end;
	    	    position: absolute;
			    top: 750px;
		        right: 71px;
			    padding-bottom: 5%;
			    align-self: flex-end;
			    margin-bottom: 5%;
			    visibility: hidden;
			    opacity: 1;

			    p{
			    	font-size: 3rem;
			    }

		    }
	}

.deforestation-page{
	display: none;
	width: 90%;
	margin: 0 auto;
    left: 60px;
    position: absolute;
    top: 150px;
}

.height-page{
	// position: absolute;
	//   top: 150px;
	// position: relative;
 //    top: -850px;
	
}

.height-container{
	 width: 90%;
	 margin: 0 auto;
	visibility: visible;
	opacity: 0;


	

	.rings-tree-container{
		display: flex;

		.tree-container{
			width: 40%;
			margin: 0 auto;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    position: relative;


		    .object-compare{
		    	width: 100%;
	    	    position: absolute;
			   	top: 186px;
			    left: -37px;
	    	    
		    	display: flex;
		    	flex-direction: column;

		    	.elephant-compare-container, .airplane-compare-container,
		    	.air-baloon-compare-container, .giraffe-compare-container
		    	{
		    		position: absolute;
				    right: 450px;
					width: 20%;

					.airplane-image, .air-baloon-image,
					.giraffe-image{
						width: 50%;
					}
		    	}
		    }

		    .tree-image{
		    	width: 50%;
		    }
		}

		    .ring-title{
		    	width: 20%;
			    padding-bottom: 5%;
			    background-color: blue;
			    align-self: flex-end;
			    margin-bottom: 5%;
		    }

		    .ring-date{
		    	width: 20%;
			    padding-bottom: 5%;
			    background-color: blue;
			    align-self: flex-end;
		    }

		    .main-text-image-1{
		    	p{
		    		width: 100%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    	}
	    	    .image-1,
	    	    {
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    }
		    }
		}

		.rings-svg{
			width: 50%;
			margin: 0 auto;
			background-image: url(../../src/img/ring-bg.png);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

.rings-map-container{
	display: flex;
	width: 80%;
	margin: 0 auto;
	.rings-svg{
		width: 50%;
		background-image: url(../../src/img/ring-bg.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.map-svg{
		width: 50%;
	}

}

.show-page{
	display: block;
}
