/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'drag-styles.scss';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	color: white;
	background-image: url(../../src/img/body-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.hand-print{
	padding-bottom: 50%;
}

.nav-container{
	width: 50%;
	position: relative;
	margin: 0 auto;


	.nav-center{
	    width: 80%;
	    margin: 0 auto;
	    padding-bottom: 75%;
		background-color: RGB(5,21,27);
		border: 10px solid RGB(224,112,84);
		border-radius: 50%;

		.history-line{
			position: absolute;
		    background-color: white;
		    width: 2px;
		    padding-bottom: 17%;
		    transform: rotate(-20deg);
		    top: 22%;
		    left: 22%;
		}

		.deforestation-line{
		    position: absolute;
		    background-color: white;
		    width: 2px;
		    padding-bottom: 26%;
		    left: 51%;
		    top: 5%;

		}
		.height-line{
	        position: absolute;
		    background-color: white;
		    width: 2px;
		    padding-bottom: 17%;
		    left: 80%;
		    top: 23%;
		    transform: rotate(18deg);

		}

	}

	.history-select,
	.deforestation-select,
	.height-select{
		
	    width: 30%;
	    

	    img{
	    	width: 100%;
	    	background-color: RGB(5,21,27);
	    	border: 2px solid RGB(224,112,84);
		    border-radius: 50%;
	    }
	}

	.height-select{
		    position: absolute;
		    top: -70%;
		    left: -25%;
		

		img{
			height: 160px;
		}
	}

	.deforestation-select{
		position: absolute;
        top: -20%;
	    left: 37%;
	}

	.height-select{
	    position: absolute;
	    top: 0%;
	    left: 73%;
	}
}


.history-container{
	.rings-text-container{
		display: flex;

		.text-container{
			width: 40%;
			margin: 0 auto;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
		}

		    .ring-title{
		    	width: 20%;
			    padding-bottom: 5%;
			    background-color: blue;
			    align-self: flex-end;
			    margin-bottom: 5%;
		    }

		    .ring-date{
		    	width: 20%;
			    padding-bottom: 5%;
			    background-color: blue;
			    align-self: flex-end;
		    }

		    .main-text-image-1{
		    	p{
		    		width: 100%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    	}
	    	    .image-1{
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    }
		    }
		}

		.rings-svg{
			width: 50%;
			margin: 0 auto;
		}
	}


.height-container{
	.rings-tree-container{
		display: flex;

		.tree-container{
			width: 40%;
			margin: 0 auto;
		    display: flex;
		    justify-content: center;
		    align-items: center;

		    .object-compare{
		    	width: 30%;
		    	display: flex;
		    	flex-direction: column;
		    	.box{
		    		width: 100px;
		    		padding-bottom: 100px;
		    		background-color: white;
		    		margin-bottom: 2%;
		    	}
		    }

		    .tree-image{
		    	width: 50%;
		    }
		}

		    .ring-title{
		    	width: 20%;
			    padding-bottom: 5%;
			    background-color: blue;
			    align-self: flex-end;
			    margin-bottom: 5%;
		    }

		    .ring-date{
		    	width: 20%;
			    padding-bottom: 5%;
			    background-color: blue;
			    align-self: flex-end;
		    }

		    .main-text-image-1{
		    	p{
		    		width: 100%;
		    		text-align: justify;
		    		font-size: 1.5rem;
		    		line-height: 1.5;
		    		margin-bottom: 5%;
		    	}
	    	    .image-1{
	    	    	background-color: white;
	    	    	padding-bottom: 50%;
	    	    	margin-bottom: 5%;
	    	    }
		    }
		}

		.rings-svg{
			width: 50%;
			margin: 0 auto;
		}
	}

.rings-map-container{
	display: flex;
	.rings-svg{
		width: 50%;
	}
	.map-svg{
		width: 50%;
	}

}

